
body {
    background-color: black;
    color: lime;
    font-family: monospace;
    padding: 5px;
}

table {
    border-collapse: separate;
    background-color: white;
    border-spacing: 1px;
    border-radius: 5px;
    border: 1px solid black;
}

th {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    height: 15px;
}

th.tabletitle {
    text-align: left;
}

tr.th_hi > th {
    font-size: 9px;
}

tr.th_lo > th {
    font-size: 9px;
    min-width: 20px;
    /*
    max-width: 20px;
    width: 20px;
    */
}

th.xsib > a {
    color: blue;
}

th.ysib > a {
    color: red;
}

th.sibsel {
    border: 1px solid lime;
}

th.varying {
    background-color: #404040;
    color: white;
}

td.sidelabel {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #404040;
    color: lime;
    text-align: right;
}

tr.data > td {
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

tr.data > td:hover {
    border: 1px solid lime;
}

td.varying {
    border: 1px solid white;
    background-color: #404040;
    color: lime;
    text-align: left;
    padding: 0 5px 0 5px !important;
}

th.th_d {
    color: lime;
}

td.d {
    font-size: 9px;
    min-width: 20px;
    /*
    width: 20px;
    max-width: 20px;
    */
    text-align: center;
}

td.significant {
    border: 1px solid blue;
}

td.invisible {
    visibility: hidden;
}

.prime {
    position: relative;
    right: 0.5em;
}

/* Override Bootstrap CSS */
.popover {
    max-width: 100%;
}

div.title {
    float: left;
}

div.controls {
    float: right;
    width: 14em;
}

td.varying > span.compact {
    display: inline-block;
    height: 18px;
    border: 1px solid lightcoral;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}

.event {
    color: #404040;
    background-color: white;
}

.bstate {
    color: lime;
    background-color: blue;
}

.threshold {
    color: lime;
    background-color: red;
}

.normal {
    color: lime;
    background-color: black;
}

svg.identicon {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin: 0px 0px 5px 3px;
    fill: darkgray; /* This could be set by measureType above. */
}
